* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fcfcfc;
  height: 100vh;
  background-color: rgb(203, 200, 198);

}
main {
  height: 75vh;
}

nav {
  background-color: rgb(227, 224, 222);

}
.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #000;
  font-family: "Open Sans";
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.header-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #fcfcfc;
  vertical-align: middle;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 20px;
  margin-top: 20%;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1rem;
}
.footer-content p {
  max-width: 500px;
  margin: 5px auto;
  line-height: 20px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* for star tating begins */

.star-rating {
  font-size: 20px;
  color: #99989b;
  display: flex;
  justify-content: end;
}
 
.star-rating .fa-star {
  margin-right: 2px;
}

.star-rating .fa-star.checked {
  color: #f7d42a;
}
/* for star rating ends */
/* for adoption-resource border */
.black-border {
  top: 200px;
  right: 0px;
  padding: 10px;
  border: 3px solid #000;
  margin: 10px;
  flex-wrap: wrap;
  flex-shrink: 10px;
}

@media screen and (device-width: 390px) {
  .black-border {
    margin-top: px;
    
  }
}
/* .header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
} */
/* navbar container */
/* The navbar container */
/* .topnav {
  overflow: hidden;
  background-color: #333; */
/* } */

/* Navbar links */
/* .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Links - change color on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */
/* colum layout */
/* Create three equal columns that float next to each other */
/* .column {
  float: left;
  width: 33.33%;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
